* {
    box-sizing: border-box;
}

:root {
    --container-padding: 10px
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

h1 {
    padding-inline: var(--container-padding);
}

table {
    padding: var(--container-padding);
}

.books-list td, th {
    font-size: 14px;
    border: 1px solid black;
    padding: 7px;
}

button {
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
}